
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #a2a2a2;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url('rock.jpg') !important;
  background-size: cover;
  background-position: center;
}

header {
  background-color: #333;
  color: #fff7f7;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.intro {
  text-align: center;
  margin-bottom: 30px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.projects {
  background-color: #7d7d7d;
  padding: 20px;
  border-radius: 5px;
}

.project {
  margin-bottom: 20px;
}


h1, h2, h3 {
  font-family: 'Georgia', serif;
  font-weight: bold;
}

p {
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
}

/* Links and Buttons */
a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #555;
}

/* Margins, Padding, Borders */
.intro, .profile, .projects {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.social-media {
  background-color: #8b8b8b;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links li a {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #050505;
  border-radius: 5px;
  text-decoration: royalblue;
  color: #333;
  transition: background-color 0.3s ease;
}

.social-links li a:hover {
  background-color: #a32b2b;
}



.audio-section {
  background-color: #5e5e5e;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.audio-section h2 {
  margin-bottom: 10px;
}

audio {
  width: 100%;
  margin-top: 10px;
}